.bundle
.cache
.DS_Store
.sass-cache
build/
public/
static/css
static/images
static/js/custom*.js
.awspublish*

node_modules/
data/**/hash.*

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
