html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	font-family: "Montserrat",sans-serif;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.3;
	margin: 0;
	padding: 0;
	width: 100%;
}

ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

ul li {
	margin: 0;
	padding: 0;
}

nav li {
	list-style: none;
}

nav a {
	text-decoration: none;
}

ol {
	margin: 0;
	padding: 0;
}

p {
	padding: 0;
	margin: 0px 0px 5px 0px;
	margin: 0rem 0rem .3125rem 0rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0px 0px 10px 0px;
	margin: 0rem 0rem .625rem 0rem;
	font-weight: normal;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.subTitle {
	color: #616161;
	font-size: 16px;
	letter-spacing: .25em;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
}

.contentContainer {
	padding: 50px 0;
	max-width: 860px;
	margin: 0 auto;
}

.contentContainer h2 {
	font-size: 40px;
	margin-top: 35px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.contentContainer h3 {
	margin-top: 25px;
	font-family: "Noto Serif",serif;
}

.contentContainer p:first-of-type {
	font-size: 22px;
}

.contentTout h1 {
	font-size: 60px;
}

.contentTout p {
	font-size: 26px;
	color: #fff;
	font-weight: 500;
	font-family: "Montserrat",sans-serif;
	max-width: 700px;
	margin: 0 auto;
}

.about .wrapper {
	*zoom: 1;
}

.about .wrapper:before,
.about .wrapper:after {
	content: "";
	display: table;
}

.about .wrapper:after {
	clear: both;
}

.about figure {
	margin-top: 40px;
	float: left;
	height: 269px;
}

.about figure img {
	max-width: 200px;
}

.about figure+h3+p {
	height: 256px;
}

.about figure+h3,
.about figure+h3+p {
	width: 55%;
	display: inline-block;
	float: right;
}

.about figure+h3+p:after {
	content: '';
	height: 1px;
	width: 100%;
}

h1 {
	margin-top: 0;
	color: #fff;
	font-size: 46px;
	font-weight: 700;
	line-height: 1.5;
	text-transform: uppercase;
	font-family: "Montserrat",sans-serif;
}

h2 {
	font-size: 52px;
	font-weight: 600;
	line-height: 1.5;
	color: #395756;
}

h3 {
	font-size: 30px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #395756;
}

p {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	color: #191919;
	font-family: "Hind",sans-serif;
}

.navPrimary {
	text-align: center;
}

.navPrimary ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-width: 820px;
	margin: 0 auto;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.navPrimary li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.navPrimary a {
	color: #fff;
	display: block;
	font-weight: 600;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}

.navPrimary .quote {
	position: absolute;
	right: 0px;
	top: 0px;
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
}

.navPrimary .quote a {
	letter-spacing: 0;
}

.navPrimary .btnPrimary {
	font-weight: 300;
	-webkit-border-radius: 0 0 0 4px;
	border-radius: 0 0 0 4px;
}

.navPrimary .btnPrimary span {
	font-weight: 600;
	letter-spacing: 0.02em;
}

.navSocial {
	position: absolute;
}

.socialIcons li {
	display: inline-block;
}

.socialIcons a {
	color: #fff;
	font-size: 24px;
	padding: 10px 15px 15px 8px;
	display: block;
}

.col3 {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

header {
	position: absolute;
	z-index: 2;
	top: 0;
	width: 100%;
	padding: 12px 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.social a {
	display: inline-block;
}

footer {
	background: #1b1b1b;
	text-align: center;
	padding: 40px;
}

footer blockquote,
footer p {
	margin-top: 0;
	color: #fff;
}

footer blockquote {
	float: right;
	font-size: 20px;
}

.footerContainer {
	padding: 30px 20px;
}

.footerContainer .footer-text a {
	color: #fff;
	text-decoration: none;
	padding: 20px 15px;
	display: block;
	font-weight: 300;
}

.footerContainer .footer-text li {
	display: inline-block;
	margin-bottom: 40px;
}

form textarea,
form input[type="phone"],
form input[type="email"],
form input[type="text"] {
	width: 100%;
	outline: 0;
	border: none;
	background: #fff;
	font-size: 16px;
	letter-spacing: .045em;
	font-weight: 300;
	padding: 10px;
	margin-bottom: 16px;
	height: auto;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	-webkit-appearance: none;
	border: 2px solid #191919;
	color: #191919;
}

form textarea:focus,
form input[type="phone"]:focus,
form input[type="email"]:focus,
form input[type="text"]:focus {
	border: 2px solid #4b7f52;
	opacity: 1;
	-webkit-transition: .2s all;
	-o-transition: .2s all;
	transition: .2s all;
}

form textarea:focus::-webkit-input-placeholder,
form input[type="phone"]:focus::-webkit-input-placeholder,
form input[type="email"]:focus::-webkit-input-placeholder,
form input[type="text"]:focus::-webkit-input-placeholder {
	opacity: 0;
	-webkit-transition: .25s all;
	-o-transition: .25s all;
	transition: .25s all;
}

form textarea::-webkit-input-placeholder,
form input[type="phone"]::-webkit-input-placeholder,
form input[type="email"]::-webkit-input-placeholder,
form input[type="text"]::-webkit-input-placeholder {
	color: #83AEAF;
}

form textarea:-moz-placeholder,
form input[type="phone"]:-moz-placeholder,
form input[type="email"]:-moz-placeholder,
form input[type="text"]:-moz-placeholder {
	color: #83AEAF;
}

form textarea::-moz-placeholder,
form input[type="phone"]::-moz-placeholder,
form input[type="email"]::-moz-placeholder,
form input[type="text"]::-moz-placeholder {
	color: #83AEAF;
}

form textarea:-ms-input-placeholder,
form input[type="phone"]:-ms-input-placeholder,
form input[type="email"]:-ms-input-placeholder,
form input[type="text"]:-ms-input-placeholder {
	color: #83AEAF;
	-webkit-transition: .25s all;
	-o-transition: .25s all;
	transition: .25s all;
}

form label {
	margin-bottom: 7px;
	text-transform: uppercase;
	display: block;
	font-size: 20px;
	color: #191919;
}

form textarea {
	height: 150px;
}

form input[type="submit"] {
	cursor: pointer;
	padding: 12px 10px 14px;
	font-size: 20px;
	letter-spacing: .055em;
	font-weight: 500;
	border: none;
	outline: none;
	background: none;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	display: block;
	height: auto !important;
	-webkit-appearance: none;
	margin-top: 20px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 30px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	background: #4b7f52;
}

form input[type="submit"]:hover {
	background: #4b7f52;
	color: #fff;
	border: 4px solid #191919;
}

.btn,
.btnPrimary {
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	background-color: transparent;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	outline: none;
	font-weight: 600;
	letter-spacing: -0.01em;
	padding: 12px 30px 14px 30px;
	text-transform: uppercase;
	position: relative;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}

.btnPrimary {
	background: #4d9256;
	color: #fff;
}

.modal {
	display: none;
	position: fixed;
	z-index: 10000;
	top: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.6);
}

.modal.modalToggle {
	display: block;
}

.modalContainer {
	background: #fff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	max-width: 650px;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	padding: 20px 40px 10px;
}

.modalContainer h2 {
	font-size: 38px;
	text-align: center;
}

.modalContainer p {
	text-align: center;
	font-size: 24px;
	padding-bottom: 20px;
}

.modalContainer p a {
	color: #4b7f52;
	text-decoration: none;
}

#close {
	position: absolute;
	right: 12px;
	top: 0px;
	color: #4b7f52;
	font-size: 40px;
}

.topTout {
	min-height: 400px;
	background: url("/images/tout_bg.jpg");
	background: #395756;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-top: 160px;
	text-align: center;
	color: #fff;
	position: relative;
	z-index: 1;
}

.topTout h1 {
	margin-bottom: 17px;
}

.topTout .copyContainer {
	max-width: 760px;
	margin: 0 auto;
	padding-top: 140px;
}

.topTout .copyContainer p {
	color: #fff;
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 14px;
	font-family: "Montserrat",sans-serif;
}

.topTout.home {
	height: 100vh;
}

.scrollCTA {
	position: absolute;
	bottom: 0;
	background: rgba(57,87,85,0.76);
	padding: 20px 40px 12px 40px;
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	transform: translate(-50%);
	left: 50%;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-transform: uppercase;
}

.scrollCTA span {
	font-size: 28px;
}

.scrollCTA p {
	color: #fff;
	font-weight: 600;
	margin-bottom: 0;
	font-family: "Montserrat",sans-serif;
	letter-spacing: 0.05em;
}

.howHome {
	padding: 60px 0 0;
}

.howHome .col2 {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.howHome .col2 .copy {
	-webkit-box-flex: 1;
	-webkit-flex: 1 46%;
	-ms-flex: 1 46%;
	flex: 1 46%;
	padding: 70px 40px 80px;
	position: relative;
}

.howHome .col2 .copy h3,
.howHome .col2 .copy p {
	color: #395756;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.howHome .col2 .copy p {
	font-size: 22px;
	line-height: 1.6;
}

.howHome .col2 .copy h3 {
	color: #365050;
	font-size: 35px;
	font-weight: 600;
	letter-spacing: .05em;
	text-transform: uppercase;
	position: relative;
}

.howHome .col2 .copy h3 span {
	position: relative;
	z-index: 1;
}

.howHome .col2 .image {
	-webkit-box-flex: 1;
	-webkit-flex: 1 54%;
	-ms-flex: 1 54%;
	flex: 1 54%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.howHome .col2 .image img {
	max-width: 100%;
	display: block;
}

.howHome .col2:nth-of-type(even) .image {
	background-position: right;
}

.howHome .col2:nth-of-type(odd) .image {
	-webkit-box-ordinal-group: 2;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
}

.howHome .col2:nth-of-type(odd) .copy {
	-webkit-box-ordinal-group: 3;
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
}

.howHome .rowFull .col2 {
	margin: 20px;
}

.howHome .staggered .image {
	min-height: 500px;
}

.howHome .staggered .col2 {
	padding-bottom: 120px;
	margin-bottom: 0;
}

.detailsHome {
	background-image: -webkit-radial-gradient(ellipse farthest-corner at right center, #28363C 0%, #395756 100%);
	background-image: -o-radial-gradient(ellipse farthest-corner at right center, #28363C 0%, #395756 100%);
	background-image: radial-gradient(ellipse farthest-corner at right center, #28363C 0%, #395756 100%);
	padding: 60px 0;
	margin-bottom: 60px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: right center;
}

.leadCopy {
	text-align: center;
	margin: 0 auto;
	padding-bottom: 70px;
	min-height: 500px;
}

.leadCopy.col2 {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.leadCopy .image {
	-webkit-box-flex: 1;
	-webkit-flex: 1 60%;
	-ms-flex: 1 60%;
	flex: 1 60%;
}

.leadCopy .image iframe {
	max-width: 100%;
}

.leadCopy h2 {
	font-size: 52px;
}

.leadCopy p {
	font-size: 20px;
	line-height: 1.75;
}

.leadCopy .copyContainer {
	-webkit-box-flex: 1;
	-webkit-flex: 1 40%;
	-ms-flex: 1 40%;
	flex: 1 40%;
	padding: 20px 50px 20px 0px;
	position: relative;
}

.numberContainer {
	color: #fff;
	font-size: 36px;
	max-width: 268px;
	padding-left: 91px;
	position: relative;
	margin-top: 100px;
}

.numberContainer:after {
	height: 6px;
	position: absolute;
	bottom: 74px;
	left: 0;
	content: '';
	width: 176px;
	background: #fff;
}

.numberContainer span {
	font-size: 102px;
	line-height: 1;
	position: absolute;
	left: 0;
	top: -9px;
	font-weight: 600;
}

.testimonial {
	color: #fff;
	font-weight: 200;
	line-height: 1.85;
	padding-left: 120px;
	margin: 0;
	text-align: center;
	font-size: 20px;
}

.testimonial h2 {
	color: #fff;
	font: 18px;
	letter-spacing: .08em;
	text-transform: uppercase;
	text-align: center;
}

.testimonial span {
	font-size: 120px;
	line-height: 20px;
	position: absolute;
}

.testimonial .quoteLeft {
	left: -39px;
	top: 23px;
}

.testimonial .quoteRight {
	padding-left: 16px;
	bottom: -27px;
}

.testimonial blockquote {
	position: relative;
}

.servicesHome {
	padding: 20px 2px 0px;
	margin-bottom: 0;
	text-align: center;
}

.servicesHome h2 {
	margin-bottom: 50px;
}

.servicesHome .colInner {
	padding: 2px;
}

.servicesHome .image {
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	margin-top: 0;
	overflow: hidden;
}

.servicesHome .image img {
	max-width: 100%;
	display: block;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}

.servicesHome .copy {
	min-height: 400px;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
	background: #395755;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	margin-top: 0;
	z-index: 1;
	position: relative;
}

.servicesHome a {
	text-decoration: none;
	display: block;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}

.servicesHome a:hover {
	padding-top: 20px;
}

.servicesHome a:hover .copy {
	margin-top: 20px;
	opacity: .9;
}

.servicesHome a:hover .image {
	margin-top: -40px;
	overflow: hidden;
}

.servicesHome a:hover .image img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.servicesHome h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	text-decoration: none;
}

.servicesHome .design a,
.servicesHome .design .copy {
	background: #13423f;
}

.servicesHome .construction a,
.servicesHome .construction .copy {
	background: #395756;
}

.servicesHome .construction a:hover {
	padding-bottom: 40px;
	padding-top: 0;
}

.servicesHome .construction a:hover .copy {
	margin-top: -40px;
	opacity: .9;
}

.servicesHome .construction a:hover .image {
	margin-top: 0;
}

.servicesHome .maintenance a,
.servicesHome .maintenance .copy {
	background: #1d312e;
}

.contact .openingLine {
	padding-bottom: 20px;
}

.contact h2 {
	margin-top: 0;
}

.contact p.getInTouch {
	font-size: 30px;
	padding-bottom: 20px;
}

.contact p.getInTouch a {
	color: #4b7f52;
	text-decoration: none;
}

@media (min-width: 64em) {

.layoutCols {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.col3 .colInner {
	-webkit-box-flex: 1;
	-webkit-flex: 1 33%;
	-ms-flex: 1 33%;
	flex: 1 33%;
	text-align: center;
}

}

@media (max-width: 63.99em) {

.layoutCols {
	width: 100%;
	text-align: center;
}

}

