.about {
  .wrapper {
    @include clearfix();
  }
  figure {
    margin-top: 40px;
    @include mq($from: tablet) {
      height: 287px;
      float: left;
    }
    img {
      max-width:200px;
    }
  }
  figure + h3 + p{
    @include mq($from: tablet) {
      height: 256px;
    }
  }
  figure + h3,
  figure + h3 + p{
    @include mq($from: tablet) {
      width: 55%;
      display: inline-block;
      float: right;
    }
  }
  figure + h3 + p:after {
    content: '';
    height: 1px;
    width: 100%;
  }
}
