.contact {
	.openingLine {
		padding-bottom: 20px;
	}	
	h2 {
		margin-top: 0;
	}
	p.getInTouch {
  	font-size: 30px;
  	padding-bottom: 20px;
  	a {
  		color: $color-brand-5;
  		text-decoration: none;
  	}
  }	
}