{{ define "main" }}
  <article class="{{ .Params.slug }}">
    <div class="topTout contentTout" style="background: url('/images/{{ .Params.BgImg }} '); background-size: cover; background-position: center;">
        <h1>
          {{ .Params.title }}
        </h1>
        <p>{{ .Params.blurb }}</p>
      </div>
    <section class="contentContainer workContent">
      <div class="wrapper">
        {{ .Content }}
        <ul class="workList">
          <li class="workItem">
              <div class="col2 layoutCols copy">
                  <h2>Church Road</h2>
                  <div>
                  <p>Pat and Lorne purchased a home done by a builder who saw no value in a nice landscape, despite the home being front and centre in town. The quality of the landscape was appalling given that it was part of a brand new built home. The phillips worked with our designer to build a design that gave their home the curb appeal it deserved without adding any maintenance. The results were wonderful.</p>
                </div>
              </div>
            <div class="images layoutCols">
              <div class="imgContainer">
                <h3>Before</h3>
                <img alt="Aslan Logo" src="/images/work1-before.jpg" />
              </div>
              <div class="imgContainer">
                <h3>After</h3>
                <img alt="Aslan Logo" src="/images/work1-after.jpg" />
              </div>
            </div>
          </li>
          <li class="workItem">
            <div class="col2 layoutCols copy">
              <h2>Westridge Way</h2>
              <div>
                <p>Jim and Gabrielle had a custom landscape designed and built to match their taste. Their custom landscape is all about the details, small design elements that aren’t easy to re-create and aren’t often seen, a true piece of art. What makes their landscape even more special is the space that it was done within, a small lot by some peoples standards, but a great canvas none the less. Without a doubt my favourite landscape I have ever done!</p>
              </div>
            </div>
            <div class="images layoutCols">
              <div class="imgContainer">
                <h3>Before</h3>
                <img alt="Aslan Logo" src="/images/beforeWork2.jpg" />
              </div>
              <div class="imgContainer">
                <h3>After</h3>
                <img alt="Aslan Logo" src="/images/afterWork2.jpg" />
              </div>
            </div>
          </li>
          <li class="workItem">
            <div class="col2 layoutCols copy">
                <h2>Clarckson Place</h2>
                <div>
                  <p>Gary and Janice were clients who wanted to elevate the quality of their landscape by bringing an artistic flare to appearance. We completely redesigned the front yard and installed a brand new irrigation system to keep the new landscape looking primo. Low maintenance was a big selling point, so we took special care in making sure that everything was simple and clean.</p>
                </div>
            </div>
            <div class="images layoutCols">
              <div class="imgContainer">
                <h3>Before</h3>
                <img alt="Aslan Logo" src="/images/beforeWork3.jpg" />
              </div>
              <div class="imgContainer">
                <h3>After</h3>
                <img alt="Aslan Logo" src="/images/afterWork3.jpg" />
              </div>
            </div>
          </li>
          <li class="workItem">
              <div class="col2 layoutCols copy">
                <h2>Ridgefield Drive</h2>
                <div>
                  <p>Garry and Arlene came to us with very vague instructions. They simply said that they wanted their current landscape to have more wow. In the world of renovations that can mean sooo many things. The truth is that they knew they wanted more but didn’t know what more looked liked. Some would think this is great, a chance to just be creative and “have at it”, but the truth is that clients who don’t know what they want are the hardest to deal with. We presented the Dutchaks with a rendering of what we thought their new landscape should look like, it included a new layout that focused on curb appeal. The Dutchaks lot is a corner lot with high exposure, so it was important that the impressive parts of the garden were out for people to see. <strong> In the end Garry said that he never envisioned something so colourful and grand.</strong></p>
                </div>
              </div>
            <div class="images layoutCols">
              <div class="imgContainer">
                <h3>Before</h3>
                <img alt="Aslan Logo" src="/images/beforeWork4.jpg" />
              </div>
              <div class="imgContainer">
                <h3>After</h3>
                <img alt="Aslan Logo" src="/images/afterWork4.jpg" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </article>
{{ end }}
