{{ define "main" }}
  <article class="{{ .Params.slug }}">
    <div class="topTout contentTout" style="background: url('/images/{{ .Params.BgImg }} '); background-size: cover; background-position: center;">
        <h1>
          {{ .Params.title }}
        </h1>
        <p>{{ .Params.blurb }}</p>
      </div>
    <section class="contentContainer workContent">
      <div class="wrapper">
        {{ .Content }}
        <ul class="workList">



          <li class="workItem">
            <div class="col2 layoutCols copy">
                <h2>Jurassic Playground</h2>
                <div>
                  <p>When the Browns first envisioned a natural and organic playground, free from the usual plastic clutter, we were thrilled to take part, though unsure of how it would unfold.
				  <p>By blending our creative vision with elements inspired by iconic films like Jurassic Park and Hook, we've crafted a truly unique space. Now, it's a place where imagination roams as freely as the children it was built for. 
				  <p>Join us in a glimpse of this exclusive playground, where a menacing dinosaur helps bring our vision to life.</p>
                </div>
            </div>
            <div class="images layoutCols">
              <div class="imgContainer beforeimg">
                <div class="banner-video">
                  <h3>Project Video</h3>
                </div>
				<div class="video-container">
					<iframe width="100%" src="https://www.youtube.com/embed/55qpzAxenKU" title="Aslan Ventures Jurassic Playground" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
              </div>
            </div>
			
			<div class="images layoutCols">
              <div class="imgContainer beforeimg">
                <div class="banner-video">
                  <h3>Behind the Scenes</h3>
                </div>
				<div class="video-container">
					<iframe width="100%" src="https://www.youtube.com/embed/9yHtNrAyWnA" title="Aslan Ventures Jurassic Playground BTS Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
              </div>
            </div>
          </li>


          <li class="workItem">
            <div class="col2 layoutCols copy">
                <h2>Boos</h2>
                <div>
                  <p>Michelle and Allan approached us with the desire to create a “veggie garden” so that they could grow their own food. The idea started out simple and quickly grew into something more similar to a small village. The area included custom concrete planter boxes that will never rot, a greenhouse set up to grow edibles all year long, and other landscape details that really elevate the appearance of the space.</p>
                </div>
            </div>
            <div class="images layoutCols">
              <div class="imgContainer beforeimg">
                <div class="banner">
                  <h3>Before</h3>
                </div>
                <img alt="Boos" src="/images/our-work/boos-before1.jpg" />
              </div>
              <div class="imgContainer">
                <div class="banner">
                  <h3>After</h3>
                </div>
                <img alt="Boos" src="/images/our-work/boos-after1.jpg" />
              </div>
            </div>
            <div class="images layoutCols">
              <div class="imgContainer beforeimg">
                <div class="banner">
                  <h3>Before</h3>
                </div>
                <img alt="Boos" src="/images/our-work/boos-before2.jpg" />
              </div>
              <div class="imgContainer">
                <div class="banner">
                  <h3>After</h3>
                </div>
                <img alt="Boos" src="/images/our-work/boos-after2.jpg" />
              </div>
            </div>
          </li>



          <li class="workItem">
            <div class="col2 layoutCols copy">
                <h2>Parksville Museum</h2>
                <div>
                  <p>The Parksville Museum approached us about the idea of converting their boring, unused gravel parking area into a social area that included seating, lawn space and gardens. This project is one of our favorite transformations and we encourage you to go and visit. Don’t forget to take your lunch or a cup of coffee!</p>
                </div>
            </div>
            <div class="images layoutCols">
              <div class="imgContainer beforeimg">
                <div class="banner">
                  <h3>Before</h3>
                </div>
                <img alt="Parksville Museum" src="/images/our-work/parksvillemuseum-before.jpg" />
              </div>
              <div class="imgContainer">
                <div class="banner">
                  <h3>After</h3>
                </div>
                <img alt="Parksville Museum" src="/images/our-work/parksvillemuseum-after.jpg" />
              </div>
            </div>
          </li>
          <li class="workItem">
              <div class="col2 layoutCols copy">
                  <h2>Church Road</h2>
                  <div>
                  <p>Pat and Lorne purchased a home done by a builder who saw no value in a nice landscape, despite the home being front and centre in town. The quality of the landscape was disappointing, given that it was part of a brand new built home. They worked with our designer to build a design that gave their home the curb appeal it deserved without adding any maintenance. As you can see, the results were wonderful!</p>
                </div>
              </div>
            <div class="images layoutCols">
              <div class="imgContainer beforeimg">
                <div class="banner">
                  <h3>Before</h3>
                </div>
                <img alt="Church Road" src="/images/our-work/churchrd-before.jpg" />
              </div>
              <div class="imgContainer">
                <div class="banner">
                  <h3>After</h3>
                </div>
                <img alt="Church Road" src="/images/our-work/churchrd-after.jpg" />
              </div>
            </div>
          </li>
          <li class="workItem">
            <div class="col2 layoutCols copy">
              <h2>Westridge Way</h2>
              <div>
                <p>Jim and Gabrielle had a custom landscape designed and built to match their taste. Their custom landscape is all about the details - small design elements that aren’t easy to re-create and aren’t often seen; a true piece of art. What makes their landscape even more special is the space that it was done within! A small lot by some peoples standards, but a great canvas nonetheless. Without a doubt, this is the favourite landscape we have ever done!</p>
              </div>
            </div>
            <div class="images layoutCols">
              <div class="imgContainer beforeimg">
                <div class="banner">
                  <h3>Before</h3>
                </div>
                <img alt="Westridge Way" src="/images/our-work/westridge-before.jpg" />
              </div>
              <div class="imgContainer">
                <div class="banner">
                  <h3>After</h3>
                </div>
                <img alt="Westridge Way" src="/images/our-work/westridge-after.jpg" />
              </div>
            </div>
          </li>
          <li class="workItem">
            <div class="col2 layoutCols copy">
                <h2>Clarkson Place</h2>
                <div>
                  <p>Gary and Janice were clients who wanted to elevate the quality of their landscape by bringing an artistic flare to the appearance. We completely redesigned the front yard and installed a brand new irrigation system to keep the new landscape looking primo. Low-maintenance was a big selling point, so we took special care in making sure that everything was simple and clean.</p>
                </div>
            </div>
            <div class="images layoutCols">
              <div class="imgContainer beforeimg">
                <div class="banner">
                  <h3>Before</h3>
                </div>
                <img alt="Clarkson Place" src="/images/our-work/clarkson-before.jpg" />
              </div>
              <div class="imgContainer">
                <div class="banner">
                  <h3>After</h3>
                </div>
                <img alt="Clarkson Place" src="/images/our-work/clarkson-after.jpg" />
              </div>
            </div>
          </li>
          <li class="workItem">
              <div class="col2 layoutCols copy">
                <h2>Ridgefield Drive</h2>
                <div>
                  <p>Garry and Arlene came to us with very vague instructions. They simply said they wanted their current landscape to have more 'wow'. In the world of landscape renovations, 'wow' can mean sooo many things. The truth is they knew they wanted more but didn’t know what more looked liked. Some would think this is great - a chance to just be creative and “have at it”, but often the clients who don’t know what they want are the hardest to deal with. We presented them with a rendering of what we thought their new landscape should look like, which included a new layout that focused on curb appeal. The lot is a corner lot with high exposure, so it was important that the impressive parts of the garden were out for people to see. <strong> When we were finished, Garry said "I never could have envisioned something so colorful and grand!"</strong></p>
                </div>
              </div>
            <div class="images layoutCols">
              <div class="imgContainer beforeimg">
                <div class="banner">
                  <h3>Before</h3>
                </div>
                <img alt="Ridgefield Drive" src="/images/our-work/ridgefield-before.jpg" />
              </div>
              <div class="imgContainer">
                <div class="banner">
                  <h3>After</h3>
                </div>
                <img alt="Ridgefield Drive" src="/images/our-work/ridgefield-after.jpg" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </article>
{{ end }}
