//
// Variables
//

$wrapper: 1200px;
$fullWidth: 1628px;

$fontFamily: 'Montserrat', sans-serif;
$fontBody: 'Hind', sans-serif;
$fontSerif: 'Noto Serif', serif;
$regularSize: 18;

$color-brand-1: #DBD8C6; // Timberwolf
$color-brand-2: #737245; // Raw Umber
$color-brand-3: #395756; // Dark Slate Gray
$color-brand-4: #191919; // Eerie Black
$color-brand-5: #4b7f52; // Middle Green
$color-cta: #4d9256;

$paragraph-color: #111;
$blockquote-color: #555;

$black: $color-brand-4;
$grey: #999;
$white: #fff;
