//
// Variables
//

$wrapper: 1200px;
$fullWidth: 1628px;

$fontFamily: 'Montserrat', sans-serif;
$fontBody: 'Hind', sans-serif;
$fontSerif: 'Ramaraja', serif;
$regularSize: 18;

$color-brand-1: #DBD8C6; // Timberwolf
$color-brand-2: #1a363a;
$color-brand-3: #3e867d;
$color-brand-4: #191919; // Eerie Black
$color-brand-5: #47a079; // Middle Green
$color-cta: #47a079;

$paragraph-color: #111;
$blockquote-color: #555;

$black: $color-brand-4;
$grey: #999;
$white: #fff;
