footer {
	background: #1b1b1b;
	text-align: center;
	padding: 22px 0px 26px;

	blockquote,
	p {
		margin-top: 0;
		color: #fff;
	}
	blockquote {
		float: right;
		font-size: 20px;
	}
}
.footerContainer {
	padding: 38px 0px;
	@include mq($until: tablet) {
		background-position: center bottom!important;
		padding-bottom: 260px;
		ul {
			margin-bottom: 20px;
		}
	}
	.footer-text {
		a {
			color: #fff;
			text-decoration: none;
			padding: 20px 15px;
			display: block;
			font-weight: 300;
		}
		li {
			display: inline-block;
			@include mq($from: tablet) {
				margin-bottom: 40px;
			}
		}
	}
}
