form{
	padding: 20px 40px 14px 0px;
	@include mq($until: tablet) {
		padding: 20px 0 14px;
	}
	textarea,
	input[type="phone"],
    input[type="email"],
    input[type="text"]{
    	width:100%;
			outline: 0;
			border: none;
			background: #fff;
			font-size: 16px;
			letter-spacing: .045em;
			font-weight: 300;
			padding:10px;
			margin-bottom:16px;
			height:auto;
			border-radius: 0!important;
			-webkit-appearance: none;
			border: 1px solid $color-brand-2;
			color: $black;
			transition: ease-in-out, all .35s ease-in-out;
			&:focus{
				border: 1px solid $color-brand-3;
				opacity:1;
				background: #e0efea;
				transition: .2s all;
				&::-webkit-input-placeholder{
					opacity:0;
					transition: .25s all;
				}
			}
			&::-webkit-input-placeholder{color:#83AEAF;}
			&:-moz-placeholder{color:#83AEAF;}
			&::-moz-placeholder{color:#83AEAF;}
			&:-ms-input-placeholder{
				color:#83AEAF;
				transition: .25s all;
			}
    }
    label{
    	margin-bottom: 7px;
    	text-transform: uppercase;
    	display: block;
    	font-size: 20px;
    	font-weight: 600;
    	color: $color-brand-2;
    	small {
    		font-size: 14px;
    	}
    }
    textarea {
    	height: 150px;
    }
    button[type="submit"]{
			cursor: pointer;
			padding: 24px 10px 26px;
			font-size: 20px;
			letter-spacing: .055em;
			font-weight: 700;
			border: none;
			outline: none;
			background: none;
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			color: #fff;
			text-decoration: none;
			display: block;
			height: auto !important;
			-webkit-appearance: none;
			margin-top:5px;
			border-radius: 4px;
			margin-bottom: 30px;
			transition: all .25s;
			background: $color-brand-5;
			border: 4px solid $color-brand-5;
			font-family: $fontFamily;
			&:hover{
				background: #61a56a;
				color: $white;
			}
    }
  }

#form-messages {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-top: -45px;
}
.contact #form-messages {
  margin-top: 5px;
}
.success {
  .btn-primary {
    transition: .5s background;
    background: #105733;
    color: #fff!important;
  }
}
#form-messages.error{
  color: #fff;
  background: red;
  padding: 10px;
}
