header {
	position: absolute;
	z-index: 2;
	top: 0;
	width: 100%;
	padding: 12px 20px;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social {
	a {
		display: inline-block;
		
	}
}