header {
	position: absolute;
	z-index: 2;
	top: 0;
	width: 100%;
	padding: 12px 20px;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include mq($until: tablet) {
  	position: fixed;
  	background: #fff;
  	padding: 10px 15px;
  }
  .headerContainer {
		@include mq($until: tablet) {
  		position: fixed;
  		background: $color-brand-4;
  		// left: 0;
      right: 100%;
      top: 0;
      padding-top: 35px;
  		height: 100%;
      width: 100%;
  		transition: all .25s;
  	}
  }
}

.social {
	a {
		display: inline-block;

	}
}

#main {
	margin-left: 0;
	transition: .25s all;
}

#closeNav{
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 54px;
  line-height: 52px;
  visibility: hidden;
}

