.navPrimary {
  text-align: center;
  > ul {
    max-width: 820px;
    margin: 0 auto;
    align-items: center;
    @include mq($until: wide) {
      max-width: 620px;
    }
    @include mq($from: tablet) {
      display: flex;
    }
    @include mq($from: tablet, $until: desktop) {
      margin-top: 50px;
    }
  }
   li {
    flex: 1;
    padding-bottom: 15px;
  }
  a {
    color: #fff;
    display: block;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    @include mq($from: tablet) {
      padding-bottom: 6px;
      &:hover {
        border-bottom: 2px solid #47a079;
        padding-bottom: 4px;
      }
    }
  }
  .quote {
    @include mq($from: tablet) {
      position: fixed;
      right: 0px;
      top: 0px;
    }
    @include mq($until: tablet) {
      margin-top: 12px;
    }
    flex: none;
    a {
      border: none;
      letter-spacing: 0;
      box-shadow: 0px 1px 10px 0px rgba(8, 8, 8, 0.27);
      padding: 11px 22px 13px 22px;
      &:hover {
        padding: 11px 22px 13px 22px;
        border: none;
      }
      @include mq($until: wide) {
        padding: 11px 15px 13px 15px;
        font-size: 16px;
      }
    }
  }
  .btnPrimary {
    font-weight: 300;
    border-radius: 0 0 0 4px;
    span {
      font-weight: 600;
      letter-spacing: 0.02em;
    }
  }
}

.navSocial {
  @include mq($from: tablet) {
    position: fixed;
    left: 0;
  }
  @include mq($until: tablet) {
    background: none;
  }
  background: #202627;
  padding: 0px 0px 0px 20px;
  box-shadow: 0px 1px 10px 0px rgba(8,8,8,0.27);
  border-radius: 0 4px 4px 0;
  @include mq($until: wide) {
    top: 0;
  }
}
.logo img {
  @include mq($until: wide) {
    max-width: 70px;
  }
}
.logo {
  a:hover {
    border: none!important;
    padding-bottom: 6px!important;
  }
  @include mq($until: tablet) {
    display: none;
  }
}
.socialIcons {
  li {
    display: inline-block;
  }
  a {
    color: #fff;
    font-size: 24px;
    padding: 12px 14px 15px 14px;
    display: block;
    &:hover {
      background: #47a079;
    }
  }
  @include mq($until: tablet) {
    text-align: center;
  }
}
.serviceDropdown {
  position: relative;
  @include mq($until: tablet) {
    > a {
      display: none;
    }
    margin-top: -10px;
  }
  &:hover {
    .subMenu {
      display: block;
    }
  }
}
.subMenu {
  display: none;
  position: absolute;
  top: 100%;
  font-size: 16px;
  width: 100%;
  background: rgba(33,38,39,1);
  padding: 12px 12px 16px;
  min-width: 164px;
  @include mq($until: tablet) {
    position: relative;
    font-size: 18px;
    padding: 0;
    display: block;
    background: none;
  }
  li {
    padding-bottom: 0;
    a {
      padding: 8px 0;
      @include mq($until: tablet) {
        padding: 10px 0 0px;
      }
      @include mq($from: tablet) {
        &:hover {
          border-bottom: none;
          padding-bottom: 8px;
          color: #47a079;
        }
      }
    }
  }
}
.subNav {
  margin-top: -50px;
  margin-bottom: 30px;
  ul {
    border-bottom: 1px solid #c3c3c3;
    display: flex;
    margin-left: 0;
    li {
      flex: 1 32%;
      text-align: center;
      margin: 0 5px;
      border-radius: 4px 4px 0 0;
      background: #eee;
      @include mq($until: tablet) {
        margin: 0 2px;
      }
      &:hover {
        a {color: #fff;}
        background: $color-brand-2;
      }
      &.current {
        a {color: #fff;}
        background: $color-brand-3;
      }
      a {
        color: $black;
        display: block;
        font-weight: 600;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        width: 100%;
        padding: 14px 10px 12px;
        @include mq($until: tablet) {
          font-size: 16px;
          letter-spacing: 0;
        }
      }
    }
  }
}
.mobile {
  display: none;
  @include mq($until: tablet) {
    display: block;
  }
  img {
    max-width: 40px;
  }
}
#opennav {
  position: absolute;
  right: 14px;
  top: 10px;
  font-size: 40px;
  border: none;
  background: none;
  color: $color-brand-4;
  -webkit-appearance: none;
  margin-right: 0;
  width: auto;
  padding: 0;
}
