<style>
  .footerContainer{
    background-image: url('/images/aslanlogo@2x.png');
    background-position: left bottom;
    background-repeat: no-repeat;
  }
</style>

<footer>
  <div class="footerContainer">
    <div class="wrapper">
      <div class="footer-text">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li>
            <a href="#">Our Work</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
          <li>
            <a href="#">Free Estimate</a>
          </li>
        </ul>
        <p class="copyright">&copy;copyright <script type="text/javascript">document.write(new Date().getFullYear());</script></p>
      </div>
    </div>
  </div>

</footer>
<script>
  WebFontConfig = {
   google: {
          families: ['Montserrat:300,400,500,600,700', 'Noto Serif:400,700,400italic,700italic', 'Hind:300,400,500,600,700']
        }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>

  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

