<style>
  .footerContainer{
    background-image: url('/images/aslan-dark-logo.png');
    background-position: 20px bottom;
    background-repeat: no-repeat;
  }
</style>

<footer>
  <div class="footerContainer">
    <div class="wrapper">
      <div class="footer-text">
        <ul>
          <li>
            <a href="{{ "/about" | relURL }}" title="{{ i18n "About" }}">About</a>
          </li>

          <li><a href="{{ "/design" | relURL }}" title="{{ i18n "Design" }}">Design</a></li>
          <li><a href="{{ "/construction" | relURL }}" title="{{ i18n "Construction" }}">Construction</a>
          <li><a href="{{ "/maintenance" | relURL }}" title="{{ i18n "Maintenance" }}">Maintenance</a></li>

          <li>
            <a href="{{ "/work" | relURL }}" title="{{ i18n "Our Work" }}">Our Work</a>
          </li>
          <li>
            <a href="{{ "/contact" | relURL }}" title="{{ i18n "Contact" }}">Contact</a>
          </li>
        </ul>
        <p class="copyright">&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script></p>
      </div>
    </div>
  </div>

</footer>

  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="/js/jquery-custom.js"></script>
  <script defer src="/js/{{ index .Site.Data.js.hash "custom.js"}}" ></script>
