<style>
  .footerContainer{
    background-image: url('/images/aslanlogo@2x.png');
    background-position: left bottom;
    background-repeat: no-repeat;
  }
</style>

<footer>
  <div class="footerContainer">
    <div class="wrapper">
      <div class="footer-text">
        <ul>
          <li>
            <a href="{{ "/about" | relURL }}" title="{{ i18n "About" }}">About</a>
          </li>

          <li><a href="{{ "/design" | relURL }}" title="{{ i18n "Design" }}">Design</a></li>
          <li><a href="{{ "/construction" | relURL }}" title="{{ i18n "Construction" }}">Construction</a>
          <li><a href="{{ "/maintenance" | relURL }}" title="{{ i18n "Maintenance" }}">Maintenance</a></li>

          <li>
            <a href="#">Our Work</a>
          </li>
          <li>
            <a href="{{ "/contact" | relURL }}" title="{{ i18n "Contact" }}">Contact</a>
          </li>
        </ul>
        <p class="copyright">&copy;copyright <script type="text/javascript">document.write(new Date().getFullYear());</script></p>
      </div>
    </div>
  </div>

</footer>
<script>
  WebFontConfig = {
   google: {
          families: ['Montserrat:300,500,600,700', 'Noto Serif:600', 'Hind:300,500,600']
        }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>

  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

