<div class="modal" id="modal">
  <div class="modalContainer">
    <a href="#" class="close" id="close" onclick="closeFunction()">
    </a>
    <div class="modalContent">
      <h2>Get in Touch!</h2>
      <p>You can either email us at <a href="mailto:info@aslanventures.ca"><i class="fas fa-envelope"></i> info@aslanventures.ca</a>,
        <br>call us at <a href="tel:250-954-5367"><i class="fas fa-phone"></i> 250-954-5367</a>,
        <br>or fill in the form below!</p>
      <div class="formContainer">
        <form id="ajax-contact estimate" method="post" action="https://static-files.canaryprint.ca/aslanventures.com/mailer2.php">
          <div class="other field">
            <label for="name field">Name</label>
            <input type="text" id="name" name="name" />
          </div>
          <div class="other field">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div class="other field">
            <label for="phone">Phone Number</label>
            <input type="phone" id="phone" name="phone" />
          </div>
          <div class="other field">
            <label for="message">Your Message</label>
            <textarea id="message" name="message" rows="8" required ></textarea>
          </div>
          <button type="submit" class="btn-primary">Send in for estimate now!</button>
        </form>
        <div id="form-messages"></div>
      </div>
    </div>
  </div>
</div>
