<!-- <nav>
  <div class="title">
    {{ if not .IsHome }}
      <a href="{{ $.LanguagePrefix }}{{ "/" | relURL }}" title="{{ i18n "homePage" }}">
        {{ .Site.Author.homepagetext }}
      </a>
    {{ end }}
  </div>
  <div class="nav">
    <a href="{{ "/" | relURL }}" title="{{ i18n "homePage" }}"></a>
  </div>
</nav> -->

<header>
  <a class="mobile" href="{{ "/" | relURL }}" title="{{ i18n "Home" }}">
    <img alt="Aslan Logo"
    src="/images/aslan-logo-alt.png"
    srcset="/images/aslan-logo-alt-2x.png 2x"
    />
  </a>
 <button id="opennav" class="mobile burger" onclick="openNav()" aria-label="Navigation Menu" aria-expanded="false">☰</button>

  <div class="headerContainer" id="mySidenav">
    <nav class="navSocial">
      <ul class="socialIcons">
        <li class="fb">
           <a href="https://www.facebook.com/Aslanventuresinc/" target="_blank" title="facebook"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="phone">
           <a href="tel:250-954-5367" title="phone"><i class="fas fa-phone"></i></a>
        </li>
        <li class="email">
           <a href="mailto:info@aslanventures.ca" title="email"><i class="fas fa-envelope"></i></a>
        </li>
      </ul>
    </nav>
    <nav class="navPrimary">
      <ul>
        <li>
          <a href="{{ "/about" | relURL }}" title="{{ i18n "About" }}">About</a>
        </li>
        <li class="serviceDropdown">
          <a href="/design" title="{{ i18n "About" }}">Services</a>
          <ul class="subMenu">
            <li><a href="{{ "/design" | relURL }}" title="{{ i18n "Design" }}">Design</a></li>
            <li><a href="{{ "/construction" | relURL }}" title="{{ i18n "Construction" }}">Construction</a></li>
            <li><a href="{{ "/maintenance" | relURL }}" title="{{ i18n "Maintenance" }}">Maintenance</a></li>
          </ul>
        </li>
        <li class="logo">
          <a href="{{ "/" | relURL }}" title="{{ i18n "Home" }}">
            <img alt="Aslan Logo"
            src="/images/aslan-logo.png"
            srcset="/images/aslan-logo-2x.png 2x"
            />
          </a>
        </li>
        <li>
          <a href="{{ "/work" | relURL }}" title="{{ i18n "OurWork" }}">Our Work</a>
        </li>
        <li>
          <a href="{{ "/contact" | relURL }}" title="{{ i18n "Contact" }}">Contact</a>
        </li>
        <li href="#" class="quote">
          <a href="#" class="btnPrimary" onclick="modalFunction()">Get in Touch for a <br /> <span>Free Quote</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<script>
function modalFunction() {
   var element = document.getElementById("modal");
   element.classList.add("modalToggle");
   return false;
}
function closeFunction() {
   var element = document.getElementById("modal");
   element.classList.remove("modalToggle");
   return false;
}

function openNav() {
    document.getElementById("mySidenav").style.width = "50%";
    document.getElementById("mySidenav").style.visibility = "visible";
    var mainLinks = document.getElementById("main").getElementsByTagName("a");
    for (var i = 0; i < mainLinks.length; i++) {
      mainLinks[i].setAttribute('tabindex', '-1');
    }
    var mainButtons = document.getElementById("main").getElementsByTagName("button");
    for (var i = 0; i < mainButtons.length; i++) {
      mainButtons[i].setAttribute('disabled', 'true');
    }
    setTimeout(function(){ document.getElementById("closenav").focus(); }, 500);
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "white";
    document.getElementById("mySidenav").style.visibility = "hidden";
    document.getElementById("main").removeAttribute('aria-hidden');
    var mainLinks = document.getElementById("main").getElementsByTagName("a");
    for (var i = 0; i < mainLinks.length; i++) {
      mainLinks[i].removeAttribute('tabindex');
    }
    var mainButtons = document.getElementById("main").getElementsByTagName("button");
    for (var i = 0; i < mainButtons.length; i++) {
      mainButtons[i].removeAttribute('disabled');
    }
    document.getElementById("opennav").focus();
}

</script>
