{{ define "main" }}  

<style>
  .topTout {
    background: url('/images/tout_bg12.jpg');
    background-size: cover;
    background-position: center bottom;
  }
</style>

  <section class="topTout home">
    <div class="copyContainer">
      <p> Design . Construct . Maintain </p>
      <h1>
         VANCOUVER ISLAND OWNED
          Landscaping services
      </h1>
      <p>Reinventing yards since 2007</p>
    </div>
    <a href="#whyus" class="scrollCTA">
      <p>Scroll down to see why us!</p>
      <span><i class="fas fa-angle-down"></i></span>
    </a>

  </section>  
  <section class="howHome" id="whyus">
    <div class="wrapper leadCopy col2 layoutCols">
      <div class="colInner copyContainer">
        <span class="subTitle">Landscaping Leaders</span>
        <h2>Why Hire us</h2>
        <div class="row rowFull">
          <p>From start to finish we have the expertise to create the landscape of your dreams down to the last detail. From a perfectly curved pathway to a beautifully furnished outdoor kitchen, we can do it all.</p>
        </div>
      </div> 
      <div class="colInner image">
        <video id="heroVideo" autoplay loop class="fullscreen">
          <source src="/images/aslanWorking.mp4" type="video/mp4">  </source>
        </video>
      </div> 
    </div> 
    <div class="row rowFull staggered"> 
      <div class="col2 layoutCols">
        <div class="colInner copy">
          <h3><span>We transform your dreams into reality</span></h3>
          <p>Our years of landscape experience has taught us how to construct an enchanting outdoor living oasis to savor all year long. </p>
        </div>  
        <div class="colInner image" style="background-image:url(/images/home_img5.jpg)" />
        </div>  
      </div>
      <div class="col2 layoutCols">
        <div class="colInner copy">
          <h3><span>Creative and innovative</span></h3>
          <p>Discover the infinite possibilities hidden in your own yard, no matter how difficult the terrain or vegetation. Our design team can transform any type of land into a tranquil and functional space.</p>
        </div>
        <div class="colInner image" style="background-image:url(/images/home_img7.jpg);" />
        </div> 
      </div>
    </div> 
  </section>
  <section class="detailsHome" style="background-image:url(/images/testimonial_bg.jpg)">
    <div class="wrapper layoutCols">
      <div class="numberContainer">
        <span>11</span>
        Years of Experience
      </div> 
      <div class="testimonial">
        <h2>Testimonial</h2>
        <blockquote><span class="quoteLeft">&ldquo;</span>We are so thrilled with how our front and back yards have turned out! Chris was exceptionally patient and great at discussing and offering a design that reflected our lifestyle. (And he stayed on budget) Chris and his crew are courteous and refreshingly hard working. We have, and do, highly recommend Aslan Ventures!<span class="quoteRight">&rdquo;</span></blockquote>
      </div>
    </div>
  </section>
  <section class="servicesHome">
    <span class="subTitle">Landscape Services</span>
    <h2>What we do</h2>
    <div class="col3 layoutCols">
      <div class="colInner design">
        <a href="/design">
          <div class="copy">  
            <h3>Design</h3>
            <i class="fab fa-pagelines"></i>
          </div>  
          <div class="image"><img alt="Aslan Logo" 
          src="/images/serviceImg6.jpg"
          /></div>
        </a>  
      </div>
      <div class="colInner maintenance">
        <a href="/maintenance">
          <div class="image"><img alt="Aslan Logo" 
          src="/images/serviceImg4.jpg"
          /></div>
          <div class="copy">  
            <h3>Maintenance</h3>
            <i class="fas fa-cogs"></i>
          </div> 
        </a>  
      </div>
      <div class="colInner construction">
        <a href="/construction">
          <div class="copy">  
            <h3>Construction</h3>              
            <i class="fab fa-envira"></i>
          </div>  
          <div class="image">
            <img alt="Aslan Logo" 
          src="/images/serviceImg5.jpg"
          />
          </div>
        </a>  
      </div>

    </div>
  </section>

{{ end }}

