{{ define "main" }}

<style>
  .topTout {
    background: url('/images/tout_bg19.jpg');
    background-size: cover;
    background-position: center bottom;
  }
</style>

  <section class="topTout home">
    <div class="copyContainer">
      <p class="leadTitle"> Aslan Ventures </p>
      <h1>
         Creative Landscaping Since 2007
      </h1>
      <p class="year">Bring the Beauty of Nature to your Doorstep</p>
    </div>
    <a href="#whyus" class="scrollCTA">
      <p>Scroll down to learn why us</p>
      <span><i class="fas fa-angle-down"></i></span>
    </a>

  </section>
  <section class="howHome" id="whyus">
    <div class="wrapper leadCopy col2 layoutCols">
      <div class="colInner copyContainer">
        <span class="subTitle">Landscaping Leaders</span>
        <h2>Who Are We?</h2>
        <div class="row rowFull">
          <p>Aslan Ventures is a full-service professional landscaping company focusing on the Parksville and Qualicum community. We specialize in landscape design, outdoor construction, and yard maintenance. We value hard work, creativity, and building great relationships with our clients!</p>
        </div>
      </div>
      <div class="colInner image">
        <video id="heroVideo" autoplay muted loop class="fullscreen">
          <source src="/videos/aslan-vid.mp4" type="video/mp4">  </source>
        </video>
      </div>
    </div>
    <div class="row rowFull staggered">
      <div class="col2 layoutCols">
        <div class="colInner copy">
          <h3><span>Trust is Paramount</span></h3>
          <p>What’s promised will be delivered. We know how much you’ve invested in your home and yard, and we hold ourselves to the highest standards of quality. Get things right—the ﬁrst time.</p>
        </div>
        <div class="colInner image" style="background-image:url(/images/home-img6.jpg)" />
        </div>
      </div>
      <div class="col2 layoutCols">
        <div class="colInner copy">
          <h3><span>Amazing Client Experience</span></h3>
          <p>We know how important clear communication is, and we have years of landscaping experience. You'll feel comfortable throughout the process of turning your outdoor space into an oasis!</p>
        </div>
        <div class="colInner image" style="background-image:url(/images/home-img8.jpg);" />
        </div>
      </div>
      <div class="col2 layoutCols">
        <div class="colInner copy">
          <h3><span>Breathtaking Results</span></h3>
          <p>You’ll have a sense of pride knowing our innovative team of landscape designers has created something truly unique to your property. After all, it’s a reﬂection of you.</p>
          <br>
          <p><i>Say goodbye to being the most forgettable house on the street.</i></p>
        </div>
        <div class="colInner image" style="background-image:url(/images/home-img7.jpg)" />
        </div>
      </div>
    </div>
  </section>
  <section class="detailsHome" style="background-image:url(/images/testimonial-bg.jpg)">
    <div class="wrapper layoutCols">
      <div class="numberContainer">
        <span>11</span>
        Years of Experience
      </div>
      <div class="testimonial">
        <h2>Testimonial</h2>
        <blockquote><span class="quoteLeft">&ldquo;</span>We are so thrilled with how our front and back yards have turned out! Chris was exceptionally patient and great at discussing and offering a design that reflected our lifestyle. (And he stayed on budget) Chris and his crew are courteous and refreshingly hard working. We have, and do, highly recommend Aslan Ventures!<span class="quoteRight">&rdquo;</span></blockquote>
      </div>
    </div>
  </section>
  <section class="servicesHome">
    <span class="subTitle">Landscape Services</span>
    <h2>What we do</h2>
    <div class="col3 layoutCols">
      <div class="colInner design">
        <a href="/design">
          <div class="copy">
            <h3>Design</h3>
            <i class="fab fa-pagelines"></i>
          </div>
          <div class="image"><img alt="Design Services"
          src="/images/service-img6.jpg"
          /></div>
        </a>
      </div>
      <div class="colInner maintenance">
        <a href="/maintenance">
          <div class="image"><img alt="Maintenance Services"
          src="/images/service-img4.jpg"
          /></div>
          <div class="copy">
            <h3>Maintenance</h3>
            <i class="fas fa-cogs"></i>
          </div>
        </a>
      </div>
      <div class="colInner construction">
        <a href="/construction">
          <div class="copy">
            <h3>Construction</h3>
            <i class="fab fa-envira"></i>
          </div>
          <div class="image">
            <img alt="Construction Services"
          src="/images/service-img5.jpg"
          />
          </div>
        </a>
      </div>

    </div>
  </section>

{{ end }}

